.NavBar {
   
    text-align: center;
    font-weight: bold;
}

.NavBar a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: grey;
    color: white !important;
}

.NavBar a.active{
    font-weight: bold;
    color:white;
    background-color: grey;
}

.snacknav {
    display: flex;
  }
  
  .snacknav > * {
    margin-right: 20px; /* Adjust the value as per your preference */
  }
  
  /* To remove the right margin from the last NavLink */
  .snacknav > *:last-child {
    margin-right: 0;
  }

  .nav-link {
    color: white; /* White font color */
    font-weight: bold; /* Bold text */
    text-decoration: underline; /* Remove default underline */
  }
  
  